<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{customer/fragments/layout}">

<head>
    <title>About Us</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">
    	<main>
	        <section>
	           	<div class="block less-spacing gray-bg top-padd30">
	                   <div class="container">
	                       <div class="row">
	                           <div class="col-md-12 col-sm-12 col-lg-12">
	                               <div class="block less-spacing">
	                                   <div class="row">
	                                       <div class="col-md-12 col-sm-12 col-lg-12">
	                                           <div class="title2-wrapper text-center">
	                                               <h2 class="sudo-bottom sudo-width70 sudo-bg-yellow" itemprop="headline"> 3 Steps to Order</h2>
	                                           </div>
	                                           <div class="remove-ext text-center">
	                                               <div class="row">
	                                                   <div class="col-md-4 col-sm-4 col-lg-4">
	                                                       <div class="step-box wow fadeIn" data-wow-delay="0.2s">
	                                                           <i><img src="assets/images/resource/setp-img1.png" alt="setp-img1.png" itemprop="image"> <span class="brd-rd50 red-bg">1</span></i>
	                                                           <div class="setp-box-inner">
	                                                               <h4 itemprop="headline">Explore Foods</h4>
	                                                               <p itemprop="description">Embark on a culinary journey through our tempting selection</p>
	                                                           </div>
	                                                       </div>
	                                                   </div>
	                                                   <div class="col-md-4 col-sm-4 col-lg-4">
	                                                       <div class="step-box wow fadeIn" data-wow-delay="0.4s">
	                                                           <i><img src="assets/images/resource/setp-img2.png" alt="setp-img2.png" itemprop="image"> <span class="brd-rd50 red-bg">2</span></i>
	                                                           <div class="setp-box-inner">
	                                                               <h4 itemprop="headline">Choose Your Favourite</h4>
	                                                               <p itemprop="description">Indulge in personalized perfection – your favorites, your way</p>
	                                                           </div>
	                                                       </div>
	                                                   </div>
	                                                   <div class="col-md-4 col-sm-4 col-lg-4">
	                                                       <div class="step-box wow fadeIn" data-wow-delay="0.6s">
	                                                           <i><img src="assets/images/resource/setp-img3.png" alt="setp-img3.png" itemprop="image"> <span class="brd-rd50 red-bg">3</span></i>
	                                                           <div class="setp-box-inner">
	                                                               <h4 itemprop="headline">Follow The Steps</h4>
	                                                               <p itemprop="description">Simple steps, delightful treats. Customize and savor every moment</p>
	                                                           </div>
	                                                       </div>
	                                                   </div>
	                                               </div>
	                                           </div>
	                                       </div>
	                                   </div>
	                               </div>
	                               <div class="toggle-wrapper text-center bottom-padd80">
	                                   <div id="toggle" class="toggle">
	                                       <div class="toggle-item">
	                                           <h4><i class="fa fa-angle-right brd-rd50"></i> How do I place an order online?</h4>
	                                           <div class="content">
	                                               <p> Ordering online is easy! Simply navigate to our menu, choose your favorite items, and follow the steps at checkout. If you need assistance, our user-friendly interface will guide you through the process.</p>
	                                           </div>
	                                       </div>
	                                       <div class="toggle-item">
	                                           <h4><i class="fa fa-angle-right brd-rd50"></i> Are there gluten-free or vegan options available?</h4>
	                                           <div class="content">
	                                               <p> Yes, we offer a variety of gluten-free and vegan options. Check our menu or contact us for specific dietary inquiries. We believe everyone should enjoy our delicious treats!</p>
	                                           </div>
	                                       </div>
	                                       <div class="toggle-item">
	                                           <h4><i class="fa fa-angle-right brd-rd50"></i> What payment methods do you accept?</h4>
	                                           <div class="content">
	                                               <p>We accept various payment methods, including credit cards and online payment gateways. Your transactions are secure, and we strive to provide convenient options for our customers.</p>
	                                           </div>
	                                       </div>
	                                       <div class="toggle-item">
	                                           <h4><i class="fa fa-angle-right brd-rd50"></i> Can I customize my order for special occasions?</h4>
	                                           <div class="content">
	                                               <p>Absolutely! We love adding a personal touch to your celebrations. Contact us in advance, and we'll work together to create a custom order tailored to your special event.</p>
	                                           </div>
	                                       </div>
	                                       <div class="toggle-item">
	                                           <h4><i class="fa fa-angle-right brd-rd50"></i> What is your delivery area, and is there a minimum order requirement?</h4>
	                                           <div class="content">
	                                               <p>We deliver in Colombo destrict. Check our delivery page for more details. While there may be a minimum order for delivery, it varies based on location. Details are provided during the checkout process.</p>
	                                           </div>
	                                       </div>
	                                   </div>
	                               </div>
	                               <div class="featured-restaurant-food text-center bottom-padd80">
	                                   <div class="featured-restaurant-food-thumb">
	                                       <ul class="featured-restaurant-food-img-carousel">
	                                           <li><img src="assets/images/resource/featured-restaurant-food-img1.jpg" alt="featured-restaurant-food-img1.jpg" itemprop="url"> <a class="brd-rd50 vimeo" data-fancybox href="https://vimeo.com/49674259" title="Click To play" itemprop="url"><i class="fa fa-vimeo"></i></a></li>
	                                           <li><img src="assets/images/resource/featured-restaurant-food-img2.jpg" alt="featured-restaurant-food-img2.jpg" itemprop="url"> <a class="brd-rd50 youtube" data-fancybox href="https://www.youtube.com/embed/V6Vd1E9OL-U" title="Click To play" itemprop="url"><i class="fa fa-youtube-play"></i></a></li>
	                                           <li><img src="assets/images/resource/featured-restaurant-food-img3.jpg" alt="featured-restaurant-food-img3.jpg" itemprop="url"></li>
	                                           <li><img src="assets/images/resource/featured-restaurant-food-img4.jpg" alt="featured-restaurant-food-img4.jpg" itemprop="url"></li>
	                                           <li><img src="assets/images/resource/featured-restaurant-food-img5.jpg" alt="featured-restaurant-food-img5.jpg" itemprop="url"></li>
	                                           <li><img src="assets/images/resource/featured-restaurant-food-img6.jpg" alt="featured-restaurant-food-img6.jpg" itemprop="url"></li>
	                                       </ul>
	                                       <ul class="featured-restaurant-food-thumb-carousel">
	                                           <li><img class="brd-rd3" src="assets/images/resource/featured-restaurant-food-thumb-img1.jpg" alt="featured-restaurant-food-thumb-img1.jpg" itemprop="image"></li>
	                                           <li><img class="brd-rd3" src="assets/images/resource/featured-restaurant-food-thumb-img2.jpg" alt="featured-restaurant-food-thumb-img2.jpg" itemprop="image"></li>
	                                           <li><img class="brd-rd3" src="assets/images/resource/featured-restaurant-food-thumb-img3.jpg" alt="featured-restaurant-food-thumb-img3.jpg" itemprop="image"></li>
	                                           <li><img class="brd-rd3" src="assets/images/resource/featured-restaurant-food-thumb-img4.jpg" alt="featured-restaurant-food-thumb-img4.jpg" itemprop="image"></li>
	                                           <li><img class="brd-rd3" src="assets/images/resource/featured-restaurant-food-thumb-img5.jpg" alt="featured-restaurant-food-thumb-img5.jpg" itemprop="image"></li>
	                                           <li><img class="brd-rd3" src="assets/images/resource/featured-restaurant-food-thumb-img6.jpg" alt="featured-restaurant-food-thumb-img6.jpg" itemprop="image"></li>
	                                       </ul>
	                                   </div>
	                               </div>
	                           </div>
	                       </div>
	                   </div>
	               </div>
	        </section>
	    </main>
    </div>
</body>	
</html>