<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{customer/fragments/layout}">

<head>
    <title>Blogs</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">
    	<main>
	        <section>
	            <div class="block less-spacing gray-bg top-padd30">
	                <div class="container">
	                    <div class="row">
	                        <div class="col-md-12">
	                            <div class="sec-box">
	    							<div class="col-md-9 col-sm-12 col-lg-9">
	    								<div class="remove-ext">
	    									<div class="row">
	    										<div class="col-md-6 col-sm-6 col-lg-6">
	    											<div class="news-box wow fadeIn" data-wow-delay="0.1s">
	    												<div class="news-thumb">
	    													<a class="brd-rd2" href="blog-detail-right-sidebar.html" title="" itemprop="url"><img src="assets/images/resource/news-img2-1.jpg" alt="news-img2-1.jpg" itemprop="image"></a>
	    													<div class="news-btns">
	    														<a class="post-date red-bg" href="#" title="" itemprop="url">JUNE 14</a>
	    														<a class="read-more" href="blog-detail-right-sidebar.html" itemprop="url">READ MORE</a>
	    													</div>
	    												</div>
	    												<div class="news-info">
	    													<h4 itemprop="headline"><a href="blog-detail-right-sidebar.html" title="" itemprop="url">Floury Bakery is The Best Choice</a></h4>
	    													<p itemprop="description">The only thing bad about the place was the time they .took to provide us with our food</p>
	    												</div>
	    											</div>
	    										</div>
	    										<div class="col-md-6 col-sm-6 col-lg-6">
	    											<div class="news-box wow fadeIn" data-wow-delay="0.2s">
	    												<div class="news-thumb">
	    													<a class="brd-rd2" href="blog-detail-left-sidebar.html" title="" itemprop="url"><img src="assets/images/resource/news-img2-2.jpg" alt="news-img2-2.jpg" itemprop="image"></a>
	    													<div class="news-btns">
	    														<a class="post-date red-bg" href="#" title="" itemprop="url">AUGUST 14</a>
	    														<a class="read-more" href="blog-detail-left-sidebar.html" itemprop="url">READ MORE</a>
	    													</div>
	    												</div>
	    												<div class="news-info">
	    													<h4 itemprop="headline"><a href="blog-detail-left-sidebar.html" title="" itemprop="url">Tried Their Amazing Grilled Ham</a></h4>
	    													<p itemprop="description">The only thing bad about the place was the time they .took to provide us with our food</p>
	    												</div>
	    											</div>
	    										</div>
	    										<div class="col-md-6 col-sm-6 col-lg-6">
	    											<div class="news-box wow fadeIn" data-wow-delay="0.3s">
	    												<div class="news-thumb">
	    													<a class="brd-rd2" href="blog-detail.html" title="" itemprop="url"><img src="assets/images/resource/news-img2-3.jpg" alt="news-img2-3.jpg" itemprop="image"></a>
	    													<div class="news-btns">
	    														<a class="post-date red-bg" href="#" title="" itemprop="url">APRIL 14</a>
	    														<a class="read-more" href="blog-detail.html" itemprop="url">READ MORE</a>
	    													</div>
	    												</div>
	    												<div class="news-info">
	    													<h4 itemprop="headline"><a href="blog-detail.html" title="" itemprop="url">Best Choice For Our Daily Healthy Meal</a></h4>
	    													<p itemprop="description">The only thing bad about the place was the time they .took to provide us with our food</p>
	    												</div>
	    											</div>
	    										</div>
	    										<div class="col-md-6 col-sm-6 col-lg-6">
	    											<div class="news-box wow fadeIn" data-wow-delay="0.4s">
	    												<div class="news-thumb">
	    													<a class="brd-rd2" href="blog-detail-right-sidebar.html" title="" itemprop="url"><img src="assets/images/resource/news-img2-4.jpg" alt="news-img2-4.jpg" itemprop="image"></a>
	    													<div class="news-btns">
	    														<a class="post-date red-bg" href="#" title="" itemprop="url">JULY 20</a>
	    														<a class="read-more" href="blog-detail-right-sidebar.html" itemprop="url">READ MORE</a>
	    													</div>
	    												</div>
	    												<div class="news-info">
	    													<h4 itemprop="headline"><a href="blog-detail-right-sidebar.html" title="" itemprop="url">Easy Homemade Shahi Tukda Recipe</a></h4>
	    													<p itemprop="description">The only thing bad about the place was the time they .took to provide us with our food</p>
	    												</div>
	    											</div>
	    										</div>
	    										<div class="col-md-6 col-sm-6 col-lg-6">
	    											<div class="news-box wow fadeIn" data-wow-delay="0.2s">
	    												<div class="news-thumb">
	    													<a class="brd-rd2" href="blog-detail-left-sidebar.html" title="" itemprop="url"><img src="assets/images/resource/news-img2-5.jpg" alt="news-img2-5.jpg" itemprop="image"></a>
	    													<div class="news-btns">
	    														<a class="post-date red-bg" href="#" title="" itemprop="url">DECEMBER 10</a>
	    														<a class="read-more" href="blog-detail-left-sidebar.html" itemprop="url">READ MORE</a>
	    													</div>
	    												</div>
	    												<div class="news-info">
	    													<h4 itemprop="headline"><a href="blog-detail-left-sidebar.html" title="" itemprop="url">Pesto Pizza With Roasted Garlic</a></h4>
	    													<p itemprop="description">The only thing bad about the place was the time they .took to provide us with our food</p>
	    												</div>
	    											</div>
	    										</div>
	    										<div class="col-md-6 col-sm-6 col-lg-6">
	    											<div class="news-box wow fadeIn" data-wow-delay="0.2s">
	    												<div class="news-thumb">
	    													<a class="brd-rd2" href="blog-detail.html" title="" itemprop="url"><img src="assets/images/resource/news-img2-6.jpg" alt="news-img2-6.jpg" itemprop="image"></a>
	    													<div class="news-btns">
	    														<a class="post-date red-bg" href="#" title="" itemprop="url">MARCH 12</a>
	    														<a class="read-more" href="blog-detail.html" itemprop="url">READ MORE</a>
	    													</div>
	    												</div>
	    												<div class="news-info">
	    													<h4 itemprop="headline"><a href="blog-detail.html" title="" itemprop="url">Cras venenatis erat ac massa Ultricies</a></h4>
	    													<p itemprop="description">The only thing bad about the place was the time they .took to provide us with our food</p>
	    												</div>
	    											</div>
	    										</div>
	    									</div>
	    								</div>
	    								<div class="pagination-wrapper text-center">
	    									<ul class="pagination justify-content-center">
	    										<li class="page-item prev"><a class="page-link brd-rd2" href="#" itemprop="url">PREVIOUS</a></li>
	    										<li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">1</a></li>
	    										<li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">2</a></li>
	    										<li class="page-item active"><span class="page-link brd-rd2">3</span></li>
	    										<li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">4</a></li>
	    										<li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">5</a></li>
	    										<li class="page-item">........</li>
	    										<li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">18</a></li>
	    										<li class="page-item next"><a class="page-link brd-rd2" href="#" itemprop="url">NEXT</a></li>
	    									</ul>
	    								</div>
	    							</div>
	    							<div class="col-md-3 col-sm-12 col-lg-3">
	    								<div class="sidebar right">
	    									<div class="widget style2 popular_posts wow fadeIn" data-wow-delay="0.2s">
	    										<h4 class="widget-title2 sudo-bg-red" itemprop="headline">Popular Posts</h4>
	    										<div class="widget-data">
	    											<div class="mini-posts-list">
	    												<div class="mini-post-item">
	    													<a href="blog-detail-right-sidebar.html" title="" itemprop="url"><img class="brd-rd2" src="assets/images/resource/popular-post-img1.jpg" alt="popular-post-img1.jpg" itemprop="image"></a>
	    													<div class="mini-post-info">
	    														<h5 itemprop="headline"><a href="blog-detail-right-sidebar.html" title="" itemprop="url">Food Tech</a></h5>
	    														<span class="mini-post-data"><i class="fa fa-clock-o"></i> August 10, 2017</span>
	    													</div>
	    												</div>
	    												<div class="mini-post-item">
	    													<a href="blog-detail-left-sidebar.html" title="" itemprop="url"><img class="brd-rd2" src="assets/images/resource/popular-post-img2.jpg" alt="popular-post-img2.jpg" itemprop="image"></a>
	    													<div class="mini-post-info">
	    														<h5 itemprop="headline"><a href="blog-detail-left-sidebar.html" title="" itemprop="url">Food Tech</a></h5>
	    														<span class="mini-post-data"><i class="fa fa-clock-o"></i> November 12, 2017</span>
	    													</div>
	    												</div>
	    												<div class="mini-post-item">
	    													<a href="blog-detail.html" title="" itemprop="url"><img class="brd-rd2" src="assets/images/resource/popular-post-img3.jpg" alt="popular-post-img3.jpg" itemprop="image"></a>
	    													<div class="mini-post-info">
	    														<h5 itemprop="headline"><a href="blog-detail.html" title="" itemprop="url">Food Tech</a></h5>
	    														<span class="mini-post-data"><i class="fa fa-clock-o"></i> May 15, 2017</span>
	    													</div>
	    												</div>
	    												<div class="mini-post-item">
	    													<a href="blog-detail-right-sidebar.html" title="" itemprop="url"><img class="brd-rd2" src="assets/images/resource/popular-post-img4.jpg" alt="popular-post-img4.jpg" itemprop="image"></a>
	    													<div class="mini-post-info">
	    														<h5 itemprop="headline"><a href="blog-detail-right-sidebar.html" title="" itemprop="url">Food Tech</a></h5>
	    														<span class="mini-post-data"><i class="fa fa-clock-o"></i> March 20, 2017</span>
	    													</div>
	    												</div>
	    											</div>
	    										</div>
	
	    									</div>
	    									<div class="widget style2 quick_filters wow fadeIn" data-wow-delay="0.2s">
	    										<h4 class="widget-title2 sudo-bg-red" itemprop="headline">Quick Filters</h4>
	    										<div class="widget-data">
	    											<ul>
	    												<li><span class="radio-box"><input type="radio" name="filter" id="filt1-1"><label for="filt1-1">Promotions</label></span></li>
	    												<li><span class="radio-box"><input type="radio" name="filter" id="filt1-2"><label for="filt1-2">Bookmarked</label></span></li>
	    												<li><span class="radio-box"><input type="radio" name="filter" id="filt1-3"><label for="filt1-3">Pure veg</label></span></li>
	    												<li><span class="radio-box"><input type="radio" name="filter" id="filt1-4"><label for="filt1-4">Free Delivery</label></span></li>
	    												<li><span class="radio-box"><input type="radio" name="filter" id="filt1-5"><label for="filt1-5">Online Payments</label></span></li>
	    											</ul>
	    										</div>
	    									</div>
	    									<div class="widget style2 quick_filters wow fadeIn" data-wow-delay="0.2s">
	    										<h4 class="widget-title2 sudo-bg-red" itemprop="headline">Quick Filters</h4>
	    										<div class="widget-data">
	    											<ul>
	    												<li><span class="radio-box"><input type="radio" name="filter2" id="filt2-1"><label for="filt2-1">No minimum order 6</label></span></li>
	    												<li><span class="radio-box"><input type="radio" name="filter2" id="filt2-2"><label for="filt2-2">Up to ₹150 69</label></span></li>
	    												<li><span class="radio-box"><input type="radio" name="filter2" id="filt2-3"><label for="filt2-3">Up to ₹250 72</label></span></li>
	    												<li><span class="radio-box"><input type="radio" name="filter2" id="filt2-4"><label for="filt2-4">Up to ₹500</label></span></li>
	    											</ul>
	    										</div>
	    									</div>
	    								</div>
	    							</div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </section>
	    </main>
    </div>
</body>	
</html>