<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{customer/fragments/layout}">
<head>
	<title>Gallery</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<main>
	        <section>
	            <div class="block less-spacing gray-bg top-padd30">
	                <div class="container">
	                    <div class="row mrg15">
	                        <div class="col-md-12">
	                            <div class="sec-box">
	                            <div class="masonry">
	                                <div class="col-md-4 col-sm-6 col-lg-4 filter-item">
	                                    <div class="gallery-bx sudo-bg-red wow zoomIn" data-wow-delay="0.2s">
	                                        <img src="assets/images/resource/gallery1-1.jpg" alt="gallery1-1.jpg" itemprop="image">
	                                        <div class="gallery-info-btns">
	                                            <a class="yellow-bg brd-rd50" href="assets/images/resource/gallery1-1.jpg" data-fancybox="gallery" title="Click to See Image" itemprop="url"><i class="fa fa-search"></i></a>
	                                            <a class="yellow-bg brd-rd50" href="gallery-detail.html" title="Gallery Detail" itemprop="url"><i class="fa fa-chain"></i></a>
	                                        </div>
	                                        <h3 itemprop="headline"><a href="gallery-detail.html" title="Gallery Detail" itemprop="url">Tried Their Amazing Grilled Ham</a></h3>
	                                    </div>
	                                </div>
	                                <div class="col-md-4 col-sm-6 col-lg-4 filter-item">
	                                    <div class="gallery-bx sudo-bg-red wow zoomIn" data-wow-delay="0.3s">
	                                        <img src="assets/images/resource/gallery1-2.jpg" alt="gallery1-2.jpg" itemprop="image">
	                                        <div class="gallery-info-btns">
	                                            <a class="yellow-bg brd-rd50" href="assets/images/resource/gallery1-2.jpg" data-fancybox="gallery" title="Click to See Image" itemprop="url"><i class="fa fa-search"></i></a>
	                                            <a class="yellow-bg brd-rd50" href="gallery-detail.html" title="Gallery Detail" itemprop="url"><i class="fa fa-chain"></i></a>
	                                        </div>
	                                        <h3 itemprop="headline"><a href="gallery-detail.html" title="Gallery Detail" itemprop="url">Tried Their Amazing Grilled Ham</a></h3>
	                                    </div>
	                                </div>
	                                <div class="col-md-4 col-sm-6 col-lg-4 filter-item">
	                                    <div class="gallery-bx sudo-bg-red wow zoomIn" data-wow-delay="0.4s">
	                                        <img src="assets/images/resource/gallery1-3.jpg" alt="gallery1-3.jpg" itemprop="image">
	                                        <div class="gallery-info-btns">
	                                            <a class="yellow-bg brd-rd50" href="assets/images/resource/gallery1-3.jpg" data-fancybox="gallery" title="Click to See Image" itemprop="url"><i class="fa fa-search"></i></a>
	                                            <a class="yellow-bg brd-rd50" href="gallery-detail.html" title="Gallery Detail" itemprop="url"><i class="fa fa-chain"></i></a>
	                                        </div>
	                                        <h3 itemprop="headline"><a href="gallery-detail.html" title="Gallery Detail" itemprop="url">Tried Their Amazing Grilled Ham</a></h3>
	                                    </div>
	                                </div>
	                                <div class="col-md-4 col-sm-6 col-lg-4 filter-item">
	                                    <div class="gallery-bx sudo-bg-red wow zoomIn" data-wow-delay="0.5s">
	                                        <img src="assets/images/resource/gallery1-4.jpg" alt="gallery1-4.jpg" itemprop="image">
	                                        <div class="gallery-info-btns">
	                                            <a class="yellow-bg brd-rd50" href="assets/images/resource/gallery1-4.jpg" data-fancybox="gallery" title="Click to See Image" itemprop="url"><i class="fa fa-search"></i></a>
	                                            <a class="yellow-bg brd-rd50" href="gallery-detail.html" title="Gallery Detail" itemprop="url"><i class="fa fa-chain"></i></a>
	                                        </div>
	                                        <h3 itemprop="headline"><a href="gallery-detail.html" title="Gallery Detail" itemprop="url">Tried Their Amazing Grilled Ham</a></h3>
	                                    </div>
	                                </div>
	                                <div class="col-md-4 col-sm-6 col-lg-4 filter-item">
	                                    <div class="gallery-bx sudo-bg-red wow zoomIn" data-wow-delay="0.6s">
	                                        <img src="assets/images/resource/gallery1-5.jpg" alt="gallery1-5.jpg" itemprop="image">
	                                        <div class="gallery-info-btns">
	                                            <a class="yellow-bg brd-rd50" href="assets/images/resource/gallery1-5.jpg" data-fancybox="gallery" title="Click to See Image" itemprop="url"><i class="fa fa-search"></i></a>
	                                            <a class="yellow-bg brd-rd50" href="gallery-detail.html" title="Gallery Detail" itemprop="url"><i class="fa fa-chain"></i></a>
	                                        </div>
	                                        <h3 itemprop="headline"><a href="gallery-detail.html" title="Gallery Detail" itemprop="url">Tried Their Amazing Grilled Ham</a></h3>
	                                    </div>
	                                </div>
	                                <div class="col-md-4 col-sm-6 col-lg-4 filter-item">
	                                    <div class="gallery-bx sudo-bg-red wow zoomIn" data-wow-delay="0.7s">
	                                        <img src="assets/images/resource/gallery1-6.jpg" alt="gallery1-6.jpg" itemprop="image">
	                                        <div class="gallery-info-btns">
	                                            <a class="yellow-bg brd-rd50" href="assets/images/resource/gallery1-6.jpg" data-fancybox="gallery" title="Click to See Image" itemprop="url"><i class="fa fa-search"></i></a>
	                                            <a class="yellow-bg brd-rd50" href="gallery-detail.html" title="Gallery Detail" itemprop="url"><i class="fa fa-chain"></i></a>
	                                        </div>
	                                        <h3 itemprop="headline"><a href="gallery-detail.html" title="Gallery Detail" itemprop="url">Tried Their Amazing Grilled Ham</a></h3>
	                                    </div>
	                                </div>
	                                <div class="col-md-4 col-sm-6 col-lg-4 filter-item">
	                                    <div class="gallery-bx sudo-bg-red wow zoomIn" data-wow-delay="0.3s">
	                                        <img src="assets/images/resource/gallery1-7.jpg" alt="gallery1-7.jpg" itemprop="image">
	                                        <div class="gallery-info-btns">
	                                            <a class="yellow-bg brd-rd50" href="assets/images/resource/gallery1-7.jpg" data-fancybox="gallery" title="Click to See Image" itemprop="url"><i class="fa fa-search"></i></a>
	                                            <a class="yellow-bg brd-rd50" href="gallery-detail.html" title="Gallery Detail" itemprop="url"><i class="fa fa-chain"></i></a>
	                                        </div>
	                                        <h3 itemprop="headline"><a href="gallery-detail.html" title="Gallery Detail" itemprop="url">Tried Their Amazing Grilled Ham</a></h3>
	                                    </div>
	                                </div>
	                                <div class="col-md-4 col-sm-6 col-lg-4 filter-item">
	                                    <div class="gallery-bx sudo-bg-red wow zoomIn" data-wow-delay="0.4s">
	                                        <img src="assets/images/resource/gallery1-8.jpg" alt="gallery1-8.jpg" itemprop="image">
	                                        <div class="gallery-info-btns">
	                                            <a class="yellow-bg brd-rd50" href="assets/images/resource/gallery1-8.jpg" data-fancybox="gallery" title="Click to See Image" itemprop="url"><i class="fa fa-search"></i></a>
	                                            <a class="yellow-bg brd-rd50" href="gallery-detail.html" title="Gallery Detail" itemprop="url"><i class="fa fa-chain"></i></a>
	                                        </div>
	                                        <h3 itemprop="headline"><a href="gallery-detail.html" title="Gallery Detail" itemprop="url">Tried Their Amazing Grilled Ham</a></h3>
	                                    </div>
	                                </div>
	                                <div class="col-md-4 col-sm-6 col-lg-4 filter-item">
	                                    <div class="gallery-bx sudo-bg-red wow zoomIn" data-wow-delay="0.9s">
	                                        <img src="assets/images/resource/gallery1-9.jpg" alt="gallery1-9.jpg" itemprop="image">
	                                        <div class="gallery-info-btns">
	                                            <a class="yellow-bg brd-rd50" href="assets/images/resource/gallery1-9.jpg" data-fancybox="gallery" title="Click to See Image" itemprop="url"><i class="fa fa-search"></i></a>
	                                            <a class="yellow-bg brd-rd50" href="gallery-detail.html" title="Gallery Detail" itemprop="url"><i class="fa fa-chain"></i></a>
	                                        </div>
	                                        <h3 itemprop="headline"><a href="gallery-detail.html" title="Gallery Detail" itemprop="url">Tried Their Amazing Grilled Ham</a></h3>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="pagination-wrapper text-center">
	                                <ul class="pagination justify-content-center">
	                                    <li class="page-item prev"><a class="page-link brd-rd2" href="#" itemprop="url">PREVIOUS</a></li>
	                                    <li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">1</a></li>
	                                    <li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">2</a></li>
	                                    <li class="page-item active"><span class="page-link brd-rd2">3</span></li>
	                                    <li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">4</a></li>
	                                    <li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">5</a></li>
	                                    <li class="page-item">........</li>
	                                    <li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">18</a></li>
	                                    <li class="page-item next"><a class="page-link brd-rd2" href="#" itemprop="url">NEXT</a></li>
	                                </ul>
	                            </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </section>
	    </main>
	</div>
</body>	
</html>