<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{customer/fragments/layout}">
<head>
	<title>Our Menu</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<main>
	        <section>
	            <div class="block less-spacing gray-bg top-padd30">
	                <div class="container">
	                    <div class="row">
	                        <div class="col-md-12 col-sm-12 col-lg-12">
	                            <div class="sec-box">
	                                <div class="remove-ext">
	                                    <div class="row">
	                                        <div class="col-md-4 col-sm-6 col-lg-4">
	                                        <div class="popular-dish-box style2 wow fadeIn" data-wow-delay="0.2s">
	                                            <div class="popular-dish-thumb">
	                                                <a href="/menu" title="" itemprop="url"><img src="assets/images/resource/popular-dish-img1.jpg" alt="popular-dish-img1.jpg" itemprop="image"></a>
	                                                <span class="post-rate yellow-bg brd-rd2"><i class="fa fa-star-o"></i> 4.25</span>
	                                            </div>
	                                            <div class="popular-dish-info">
	                                                <h4 itemprop="headline"><a href="/menu" title="" itemprop="url">Chili Spicy Food</a></h4>
	                                                <p itemprop="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
	                                                <span class="price">$85.00</span>
	                                                <a class="brd-rd4 " href="/order" title="Order Now" itemprop="url">Order Now</a>
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="col-md-4 col-sm-6 col-lg-4">
	                                        <div class="popular-dish-box style2 wow fadeIn" data-wow-delay="0.3s">
	                                            <div class="popular-dish-thumb">
	                                                <a href="food-detail.html" title="" itemprop="url"><img src="assets/images/resource/popular-dish-img2.jpg" alt="popular-dish-img2.jpg" itemprop="image"></a>
	                                                <span class="post-rate yellow-bg brd-rd2"><i class="fa fa-star-o"></i> 3.25</span>
	                                            </div>
	                                            <div class="popular-dish-info">
	                                                <h4 itemprop="headline"><a href="food-detail.html" title="" itemprop="url">Crab With Curry Sources</a></h4>
	                                                <p itemprop="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
	                                                <span class="price">$70.00</span>
	                                                <a class="brd-rd4" href="food-detail.html" title="Order Now" itemprop="url">Order Now</a>
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="col-md-4 col-sm-6 col-lg-4">
	                                        <div class="popular-dish-box style2 wow fadeIn" data-wow-delay="0.4s">
	                                            <div class="popular-dish-thumb">
	                                                <a href="food-detail.html" title="" itemprop="url"><img src="assets/images/resource/popular-dish-img3.jpg" alt="popular-dish-img3.jpg" itemprop="image"></a>
	                                                <span class="post-rate yellow-bg brd-rd2"><i class="fa fa-star-o"></i> 5.00</span>
	                                            </div>
	                                            <div class="popular-dish-info">
	                                                <h4 itemprop="headline"><a href="food-detail.html" title="" itemprop="url">Salted Fried Chicken $20</a></h4>
	                                                <p itemprop="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
	                                                <span class="price">$99.00</span>
	                                                <a class="brd-rd4" href="food-detail.html" title="Order Now" itemprop="url">Order Now</a>
	                                            </div>
	                                        </div>
	                                    </div>
										<div class="col-md-4 col-sm-6 col-lg-4">
	                                        <div class="popular-dish-box style2 wow fadeIn" data-wow-delay="0.5s">
	                                            <div class="popular-dish-thumb">
	                                                <a href="food-detail.html" title="" itemprop="url"><img src="assets/images/resource/popular-dish-img1.jpg" alt="popular-dish-img1.jpg" itemprop="image"></a>
	                                                <span class="post-rate yellow-bg brd-rd2"><i class="fa fa-star-o"></i> 4.25</span>
	                                            </div>
	                                            <div class="popular-dish-info">
	                                                <h4 itemprop="headline"><a href="food-detail.html" title="" itemprop="url">Chili Spicy Food</a></h4>
	                                                <p itemprop="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
	                                                <span class="price">$85.00</span>
	                                                <a class="brd-rd4 " href="food-detail.html" title="Order Now" itemprop="url">Order Now</a>
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="col-md-4 col-sm-6 col-lg-4">
	                                        <div class="popular-dish-box style2 wow fadeIn" data-wow-delay="0.6s">
	                                            <div class="popular-dish-thumb">
	                                                <a href="food-detail.html" title="" itemprop="url"><img src="assets/images/resource/popular-dish-img2.jpg" alt="popular-dish-img2.jpg" itemprop="image"></a>
	                                                <span class="post-rate yellow-bg brd-rd2"><i class="fa fa-star-o"></i> 3.25</span>
	                                            </div>
	                                            <div class="popular-dish-info">
	                                                <h4 itemprop="headline"><a href="food-detail.html" title="" itemprop="url">Crab With Curry Sources</a></h4>
	                                                <p itemprop="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
	                                                <span class="price">$70.00</span>
	                                                <a class="brd-rd4" href="food-detail.html" title="Order Now" itemprop="url">Order Now</a>
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="col-md-4 col-sm-6 col-lg-4">
	                                        <div class="popular-dish-box style2 wow fadeIn" data-wow-delay="0.7s">
	                                            <div class="popular-dish-thumb">
	                                                <a href="food-detail.html" title="" itemprop="url"><img src="assets/images/resource/popular-dish-img3.jpg" alt="popular-dish-img3.jpg" itemprop="image"></a>
	                                                <span class="post-rate yellow-bg brd-rd2"><i class="fa fa-star-o"></i> 5.00</span>
	                                            </div>
	                                            <div class="popular-dish-info">
	                                                <h4 itemprop="headline"><a href="food-detail.html" title="" itemprop="url">Salted Fried Chicken $20</a></h4>
	                                                <p itemprop="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
	                                                <span class="price">$99.00</span>
	                                                <a class="brd-rd4" href="food-detail.html" title="Order Now" itemprop="url">Order Now</a>
	                                            </div>
	                                        </div>
	                                    </div>
	                                    </div>
	                                </div>
	                                <div class="pagination-wrapper text-center">
	                                    <ul class="pagination justify-content-center">
	                                        <li class="page-item prev"><a class="page-link brd-rd2" href="#" itemprop="url">PREVIOUS</a></li>
	                                        <li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">1</a></li>
	                                        <li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">2</a></li>
	                                        <li class="page-item active"><span class="page-link brd-rd2">3</span></li>
	                                        <li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">4</a></li>
	                                        <li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">5</a></li>
	                                        <li class="page-item">........</li>
	                                        <li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">18</a></li>
	                                        <li class="page-item next"><a class="page-link brd-rd2" href="#" itemprop="url">NEXT</a></li>
	                                    </ul>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </section>
	    </main>
	</div>
</body>	
</html>