<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/fragments/layout}">

<head>
<title>Recipe Management</title>
</head>

<body>
	<div layout:fragment="content" th:remove="tag">
		<main class="app-content">
	      <div class="app-title">
	        <div>
	          <h1><i class="fa fa-edit"></i> Recipe Management</h1>
	        </div>
	        <ul class="app-breadcrumb breadcrumb">
	          <li class="breadcrumb-item"><a href="/dashboard"><i class="fa fa-home fa-lg"></i></a></li>
	          <li class="breadcrumb-item"><a href="/listRecipies">Recipe List</a></li>
	          <li class="breadcrumb-item active"><a th:href="(${recipe.recipeId}==0)? '/addRecipe' : '/recipeDetails?recipeId='+${recipe.recipeId}">Recipe</a></li>
	        </ul>
	      </div>
	      
	      <div class="row">
	        <div class="col-lg-12 col-md-12 col-sm-12">
	          <div class="tile">
	            <form id = "newRecipe" th:object="${recipe}">
					<div class="tile-body">
		            	<div class="row">
		              		<div class="col-md-4 col-sm-12">
		              			<img th:src="(${recipe.image} != '')? ${recipe.image} : 'image/null-image.png'" alt="" width="100%" height="300px">
		              			<input type="file" accept="image/*" id="image" th:value="${recipe.image}" hidden="">
		              			<p style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" onClick="document.getElementById('image').click();">
		              				<button class="btn btn-outline-primary" type="button">Change</button>
		              			</p>
		              		</div>
		              		<div class="col-md-8 col-sm-12 row">
		              			<div class="form-group col-md-4 col-sm-12">
				                  <label class="control-label">Id</label>
				                  <input class="form-control" type="text" placeholder="RECIPE ID" id="recipeId" th:field="*{recipeId}" th:value="${recipe.recipeId}" disabled>
				                </div>
		              			<div class="form-group col-md-7 col-sm-12">
				                  <label class="control-label">Status</label>
				                  <div class="row border border-danger">
								  	<div class="col-md-3 col-sm-12" th:each="sts : ${T(com.naizzbakers.bms.model.Recipe.STATUS).values()}">
										<div class="form-check">
						                	<label class="form-check-label">
						                    	<input class="form-check-input" type="radio" th:field="*{status}" th:value="${sts}" name="status" th:disabled="${recipe.recipeId} == 0">
						                    	<span th:text="${sts}"></span>
						                    </label>
						                </div>
									</div>
								  </div>
				                </div>
		              			<div class="form-group col-md-12 col-sm-12">
				                  <label class="control-label">Special Note</label>
				                  <textarea class="form-control" rows="4" placeholder="SPECIAL NOTE" id="specialNote" th:field="*{specialNote}" th:value="${recipe.specialNote}"></textarea>
				                </div>
				                <div class="form-group col-md-12 col-sm-12 row">
									<div class="col-md-6 col-sm-12">
					                  <label class="control-label">CreateBy</label>
					                  <input class="form-control" type="text" placeholder="CREATED BY" th:value="${recipe.createBy.firstName + ' ' + recipe.createBy.lastName}" disabled=""> 
					                  <input type="text" th:field="*{createBy}" disabled="" hidden=""> 
					                  <input type="text" id="createBy" th:value="${recipe.createBy.userId}" disabled="" hidden=""> 
					                </div>
					                <div class="col-md-6 col-sm-12">
					                  <label class="control-label">Create Date</label>
					                  <input class="form-control" type="text" placeholder="CREATED DATE" id="createDate" th:field="*{createDate}" th:value="${recipe.createDate}" disabled="">
					                </div>
					                <div class="col-md-6 col-sm-12">
					                  <label class="control-label">UpdateBy</label>
					                  <input class="form-control" type="text" placeholder="UPDATED BY" th:value="${recipe.createBy.firstName + ' ' + recipe.createBy.lastName}" disabled="">
					                  <input type="text" th:field="*{updateBy}" disabled="" hidden="">
					                  <input type="text" id="updateBy" th:value="${recipe.updateBy.userId}" disabled="" hidden="">
					                </div>
					                <div class="col-md-6 col-sm-12">
					                  <label class="control-label">Update Date</label>
					                  <input class="form-control" type="text" placeholder="UPDATED DATE" id="updateDate" th:field="*{updateDate}" th:value="${recipe.updateDate}" disabled="">
					                </div>
								</div>
		              		</div>
			                <div class="form-group col-md-12 col-sm-12">
			                  <label class="control-label">Description</label>
			                  <textarea class="form-control" rows="20" placeholder="ADD RECIPE DESCRIPTION" id="description" th:field="*{description}" th:value="${recipe.description}"></textarea>
			                </div>
		              	</div>
		            </div>
				</form>
	            <div class="tile-footer">
	              <button class="btn btn-primary" type="button" id="saveRecipe"><i class="fa fa-fw fa-lg fa-check-circle"></i>Save</button>&nbsp;&nbsp;&nbsp;
	              <a class="btn btn-secondary" href="#"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
	            </div>
	          </div>
	        </div>
	        
	    </main>	
	</div>
</body>
</html>

<script src="admin/js/recipe.management.js"></script>
