<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/fragments/layout}">

<head>
  <title>Inventory Management</title>
</head>

<body>
	<div layout:fragment="content" th:remove="tag">
		<main class="app-content">
	      <div class="app-title">
	        <div>
	          <h1><i class="fa fa-th-list"></i> Inventory Management</h1>
	        </div>
	        <ul class="app-breadcrumb breadcrumb">
	          <li class="breadcrumb-item"><a href="/dashboard"><i class="fa fa-home fa-lg"></i></a></li>
	          <li class="breadcrumb-item"><a href="/listInventories">Inventory List</a></li>
	          <li class="breadcrumb-item"><a th:href="'/inventoryDetails?inventoryId='+${inventory.inventoryId}">Inventory</a></li>
	          <li class="breadcrumb-item active"><a th:href="'/viewInventoryRequests?inventoryId='+${inventory.inventoryId}">Requests</a></li>
	        </ul>
	      </div>
	      <div class="row">
			  <div class="col-lg-12 col-md-12 col-sm-12">
	          <div class="tile">
	            <form id = "newInventory" th:object="${inventory}">
					<div class="tile-body">
		            	<div class="row">
		              		<div class="col-12 row">
				                <div class="form-group col-md-4 col-sm-12">
				                  <label class="control-label">Inventory Serial</label>
				                  <input type="hidden" id="inventoryId" th:value="${inventory.inventoryId}" disabled="">
				                  <input class="form-control" type="text" placeholder="SERIAL NUMBER" th:field="*{inventorySerial}" id="inventorySerial" th:value="${inventory.inventorySerial}" disabled="">
				                </div>
				                <div class="form-group col-md-4 col-sm-12">
				                  <label class="control-label">Inventory Name</label>
				                  <input class="form-control" type="text" placeholder="INVENTORY NAME" th:field="*{inventoryName}" id="inventoryName" th:value="${inventory.inventoryName}" disabled="">
				                </div>
				                <div class="form-group col-md-4 col-sm-12">
				                  <label class="control-label">Total Available</label>
				                  <input class="form-control" type="text" placeholder="AVAILABLE QUANTITY" th:field="*{availableAmount}" id="availableInventoryAmount" th:value="${inventory.availableAmount}" disabled="">
				                </div>
		              		</div>
		              	</div>
		            </div>
				</form>
	        </div>
	        
	        <div class="col-md-12">
	          <div class="tile">
	            <h3 class="tile-title">
	            	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#requestModal"> Add New </button>
	            </h3>
	            <div class="table-responsive table-sm table-hover table-bordered">
	              <table class="table">
	                <thead>
	                  <tr>
						<th>Request Code</th>
	                    <th colspan="2">Supplier</th>
	                    <th>Amount</th>
	                    <th>Special Note</th>
	                    <th>Status</th>
	                    <th colspan="2">Requested Date</th>
	                    <th colspan="2">Updated</th>
	                    <th>Action</th>
	                  </tr>
	                </thead>
	                <tbody>
	                  <tr th:each="request : ${inventoryRequests}">
	                  	<td th:text="${request.requestCode != null} ? ${request.requestCode} : '-'">-</td>
	                  	<td th:text="${request.supplierId.supplierSerial != null} ? ${request.supplierId.supplierSerial} : '-'">-</td>
	                  	<td th:text="${request.supplierId.supplierName != null} ? ${request.supplierId.supplierName} : '-'">-</td>
	                  	<td th:text="${request.requestedAmount}">-</td>
						<td th:title="${request.specialNote}" th:text="${request.specialNote != null} ? ${#strings.substring(request.specialNote,0,1)}+'....' : '-'">-</td>
	                  	<td>
						  <select class="form-control" th:value="${request.status}" th:data-irid="${request.irId}" th:data-status="${request.status}" onChange="inventoryRequestStatusUpdate(this, this.getAttribute('data-irid'), this.getAttribute('data-status'),this.value)">
	                        <option th:each="sts : ${T(com.naizzbakers.bms.model.InventoryRequest.STATUS).values()}"
	                        	th:value="${sts}"
	                            th:text="${sts}"
	                            th:selected="${sts == request.status}">
	                        </option>
		                  </select>
					  	</td>
	                  	<td th:text="${request.createBy.userId != null} ? ${request.createBy.firstName + ' ' + request.createBy.lastName} : '-'">-</td>
	                  	<td th:text="${request.createDate != null} ? ${request.createDate} : '-'">-</td>	                  	
	                  	<td th:text="${request.updateBy.userId != null} ? ${request.updateBy.firstName + ' ' + request.updateBy.lastName} : '-'">-</td>
	                  	<td th:text="${request.updateDate != null} ? ${request.updateDate} : '-'">-</td>
	                  	
						<td th:onclick="|deleteInventoryRequest('${request.irId}',this)|">
							<i class="fa fa-trash-o" aria-hidden="true"></i> 
						</td>
	                  </tr>
	                </tbody>
	              </table>
	            </div>
	          </div>
	        </div>
	        
	        <div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Link New Request</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
					<form id = "newRequestForm">
						<div class="tile-body">
			            	<div class="row">
								<input type="text" id="islId" hidden="" disabled="">
			              		<div class="form-group col-md-6 col-sm-12">
				                  <label class="control-label">Supplier Sereial No.</label>
				                  <input class="form-control" type="text" placeholder="SERIAL NUMBER" id="supplierSerial" onChange="document.getElementById('supplierName').value = this.value">
				                </div>
				                <div class="form-group col-md-6 col-sm-12">
				                  	<label class="control-label">Name</label>
									<select class="form-control" id="supplierName" onChange="document.getElementById('supplierSerial').value = this.value">
				                    	<option value=''>-- SUPPLIER --</option>
				                        <option th:each="supplier:${listSuppliers}"
				                        	th:value="${supplier.supplierSerial}"
				                            th:text="${supplier.supplierName}">
				                        </option>
				                    </select> 				                </div>
				                <div class="form-group col-md-6 col-sm-12">
				                  <label class="control-label">Request Code</label>
				                  <input class="form-control" type="text" placeholder="REQUEST CODE" id="requestCode">
				                </div>
				                <div class="form-group col-md-6 col-sm-12">
				                  <label class="control-label">Requesting Amount</label>
				                  <input class="form-control" type="text" placeholder="REQUESTING AMOUNT" id="requestingAmount">
				                </div>
				                <div class="form-group col-md-12 col-sm-12">
				                  <label class="control-label">Special Note</label>
				                  <textarea class="form-control" rows="4" placeholder="SPECIAL NOTE" id="specialNote"></textarea>
				                </div>
			              	</div>
			            </div>
					</form>	
			      </div>
			      
			      <div class="modal-footer">
			        <button class="btn btn-primary" type="button" id="newRequest"><i class="fa fa-fw fa-lg fa-check-circle"></i>Save</button>&nbsp;&nbsp;&nbsp;
	              	<a class="btn btn-secondary" href="#" data-dismiss="modal" aria-label="Close"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
			      </div>
			      	            
			    </div>
			  </div>
			</div>
			
	      </div>
	    </main>	
  	</div>
</body>
</html>

<script src="admin/js/inventory.management.js"></script>





















